.notFoundPage {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    opacity: .9;
    z-index: 3;
}

.notFoundPage > p {
    position: relative;
    z-index: 3;
    padding: 5%;
    background-color: #94C56F;
    border-radius: 10px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}