@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

.radioButtons {
  margin: 10px 35% 0 35%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: pink; */
  z-index: 2;
  position: relative;
  width: 30%;
}

.radioBtn {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;

}

.radioBtn:checked{
  background-color: green;
  border-color: green;
  border: none;
  outline: none;
}

input[type='radio']:checked:after {
  background-color: green;
}

input[type='radio']:after {
  background-color: green;
}

.title2 > span {
  font-family: 'Cherry Bomb One', sans-serif;
  font-size: 30px;
  color: #646CFF;
}

@media screen and (max-width: 820px) {
  .radioButtons {
    display: none;
  }
}
