.radioButtons {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: pink; */
}

.radioBtn {
    font-size: 20px;
}