.homeTextVideoContainer {
    display: flex;
    padding: 100px 100px;
    gap: 80px;
    height: 500px;
}

.hometext {
    width: 40%;
    height: 100%;
}

.homevideo {
    width: 50%;
    height: 100%;
}