nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav {
  padding: 0.5em 1em;
}

.nav-bar__user-btns {
  display: flex;
  gap: 1em;
}

.frog-img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  object-fit: cover;
}
