.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.signup-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: white;
  width: 50%;
  border-radius: 20px;
  padding: 20px 10px;
}

.signup-container > form > p {
  color: red;
}

.signup-container > form > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.signup-container > form > button:hover {
  background-color: #94C56F;
  color: white;
}
